// Variables
$primary-green: #68aa4b;
$font-grey: #323232;
$nav-background: #f8f9fa;
$logo-bg-colour: #bbb;

%logo-small {
  background-color: $logo-bg-colour;
  border-radius: 10px;
  margin-right: 0;
  padding: 10px;
  transition: 1s all;
  width: 75px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 920px;
  }
}

html,
body {
  overflow-x: hidden;
}

navbar-toggler {
  z-index: 1;
}

.navbar-brand {
  @extend %logo-small;

  &:hover {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    background: 0;
    left: 10%;
    padding: 0;
    position: absolute;
    top: 10px;
    width: auto;
    z-index: 1;
  }

  .logo-small {
    background-color: $logo-bg-colour;
    border-radius: 10px;
    left: 0;
    padding: 10px;
    position: relative;
    top: 0;
    transition: 1s all;
    width: 65px;
  }
}

.navbar-nav {
  a {
    background: none;

    &:hover {
      background-color: darken($nav-background, 10%);
    }
  }
}

.row {
  margin-bottom: 80px;
}

.hero-image {
  background-image: url("../img/1x/Banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

  h1 {
    bottom: 6%;
    color: white;
    font-size: 2.8em;
    font-weight: 700;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-image {
    background-image: url("../img/2x/Banner@2x.png");
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $font-grey;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

p {
  color: lighten($font-grey, 10%);
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
}

a {
  color: rgb(59, 167, 230);

  &:hover {
    text-decoration: none;
  }
}

.customer-stories {
  h4 {
    color: lighten($primary-green, 5%);
    font-size: 1.2em;
    margin: 5px 5px 40px;
  }

  p,
  span {
    color: rgb(168, 168, 168);
    font-size: 0.8em;
    line-height: 1.1em;
  }

  span {
    bottom: 10px;
    font-size: 0.9em;
    font-weight: 600;
    position: absolute;
    right: 10px;
  }
}

.font-size-big {
  font-size: 1.2em;
  font-weight: 500;
}

.accent-orange {
  background-color: rgb(255, 156, 74);
  border: 0;
  height: 2px;
  margin-bottom: 20px;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

.btn-green {
  background-color: $primary-green;
  color: white;
  font-size: 1.6em;
  font-weight: 500;
  padding: 10px 40px;

  &:hover {
    background-color: lighten($primary-green, 15%);
    color: white;
  }
}

nav {
  .btn-green {
    font-size: 1em;
    padding: 0 20px;
  }
}

.btn-right {
  position: absolute;
  right: 5%;
}

#myBtn {
  opacity: 0;
  transition: 0.5s opacity;
  display: block;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(32, 32, 32, 0.5);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 26px;
  height: 75px;
  width: 75px;
}

#myBtn:hover {
  background-color: #555;
}
